---
import LayaoutNoOneScreen from "../layouts/LayaoutNoOneScreen.astro"

import EmpresarialButton from '../components/buttons/EmpresarialButton.astro';
import PaymentsButton from '../components/buttons/PaymentsButton.astro';
import HomeButton from '../components/buttons/HomeButton.astro';
import {AccordionVariant} from '../components/AcordionPagos.jsx';
import Page from '../components/marquee.jsx';
import PaquetesButton from "../components/buttons/PaquetesButton.astro";
---

<LayaoutNoOneScreen title="Centro de atención" heroImage='/background-paquetes.png'>
    <main class="flex flex-col min-h-svh   w-full pt-28 lg:pt-20 ">
        <h1 class="text-5xl mb-8 tracking-wides text-center ">Soporte</h1>
        
			<div class="flex flex-wrap w-full lg:w-2/3 justify-center gap-10 items-center self-center ">
        <AccordionVariant client:idle/>
        
		</div>
        
        <div class="flex flex-grow ">
          
        </div>
		<div class="px-4">
			<div class="flex flex-row justify-center w-full md:w-2/3 lg:w-1/2 m-auto mt-8 mb-4 ">
				<EmpresarialButton/>
				<PaquetesButton/>
				<HomeButton/>
			</div>
		</div>
        
    </main>
</LayaoutNoOneScreen>

<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
		font-family: 'Titillium Web', 'Chakra Petch', sans-serif;
    }
</style>


