---
import Layout from '../layouts/Layout.astro';
import EmpresarialButton from '../components/buttons/EmpresarialButton.astro';
import TestimoniosButton from '../components/buttons/TestimoniosButton.astro';
import PaquetesButton from '../components/buttons/PaquetesButton.astro';
import CardTestimonio from '../components/CardTestimonio.astro';
import HomeButton from '../components/buttons/HomeButton.astro';
---

<Layout title="OnFiber" heroImage='/background1.png'>
    <main class="flex flex-col h-full w-full p-4">
        <h1 class="text-3xl md:text-2xl lg:text-4xl mb-8 tracking-wides text-center">TESTIMONIOS</h1>
        <div class="relative flex items-center lg:hidden h-full justify-center ">
            <button class="nav-arrow left-arrow hidden md:flex items-center justify-center" onclick="scrollTestimonials('left')">&#10094;</button>
            <div id="testimonial-container" class="flex flex-nowrap overflow-scroll p-5 items-stretch gap-10 w-full">
                <CardTestimonio autor='Juan Perez' testimonio='Desde que cambié a OnFiber, he notado una gran diferencia en la velocidad y estabilidad de mi conexión. Los técnicos fueron rápidos y eficientes durante la instalación. ¡Definitivamente recomendaría OnFiber a mis amigos y familiares!'/>
                <CardTestimonio autor='juan perez' testimonio='Lo que más me gusta de OnFiber es su atención al cliente. Siempre están disponibles para resolver cualquier problema y se aseguran de que estemos satisfechos con el servicio. ¡Me alegra haber elegido OnFiber!'/>
                <CardTestimonio logo='/logos-empresas/Mahindra-Logo.png' autor='Mahindra' testimonio='El cambio a OnFiber ha sido una excelente decisión. La velocidad de Internet es impresionante y el proceso de instalación fue sin problemas.'/>
            </div>
            <button class="nav-arrow right-arrow hidden md:flex items-center justify-center" onclick="scrollTestimonials('right')">&#10095;</button>
        </div>

        <div class="relative hidden lg:flex items-center h-full">
            <div id="testimonial-container" class="flex flex-row p-5 items-stretch gap-10 w-full">
                <CardTestimonio autor='Juan Perez' testimonio='Desde que cambié a OnFiber, he notado una gran diferencia en la velocidad y estabilidad de mi conexión. Los técnicos fueron rápidos y eficientes durante la instalación. ¡Definitivamente recomendaría OnFiber a mis amigos y familiares!'/>
                <CardTestimonio autor='juan perez' testimonio='Lo que más me gusta de OnFiber es su atención al cliente. Siempre están disponibles para resolver cualquier problema y se aseguran de que estemos satisfechos con el servicio. ¡Me alegra haber elegido OnFiber!'/>
                <CardTestimonio logo='/logos-empresas/Mahindra-Logo.png' autor='Mahindra' testimonio='El cambio a OnFiber ha sido una excelente decisión. La velocidad de Internet es impresionante y el proceso de instalación fue sin problemas.'/>
            </div>
        </div>
        
        
        <div class="flex flex-grow"></div>
        <div class="flex flex-row justify-center w-full md:w-2/3 lg:w-1/2 m-auto">
            <EmpresarialButton/>
            <PaquetesButton/>
            <HomeButton/>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: 0;
        padding: 1rem;  
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .color-principal {
        color: #D3A7E4;
    }
    .relative {
        position: relative;
    }
    .nav-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1;
    }
    .left-arrow {
        left: 10px;
    }
    .right-arrow {
        right: 10px;
    }
    .nav-arrow.hidden {
        display: none;
    }
</style>

<script>
    function scrollTestimonials(direction: 'left' | 'right') {
        const container = document.getElementById('testimonial-container');
        const scrollAmount = 200; // Ajusta este valor según sea necesario
        if (container) { // Asegúrate de que container no es null
            if (direction === 'left') {
                container.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
            } else {
                container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
            }
        }
    }
    
    // Mostrar/ocultar flechas dependiendo del desplazamiento
    document.addEventListener('DOMContentLoaded', () => {
        const container = document.getElementById('testimonial-container');
        const leftArrow = document.querySelector('.left-arrow');
        const rightArrow = document.querySelector('.right-arrow');

        function updateArrows() {
            if (container) {
                if (container.scrollLeft === 0) {
                    leftArrow?.classList.add('hidden');
                } else {
                    leftArrow?.classList.remove('hidden');
                }

                if (container.scrollLeft + container.clientWidth >= container.scrollWidth) {
                    rightArrow?.classList.add('hidden');
                } else {
                    rightArrow?.classList.remove('hidden');
                }
            }
        }

        if (container) {
            container.addEventListener('scroll', updateArrows);
            updateArrows(); // Actualizar al cargar
        }
    });
</script>
