---
---

<footer
    class="w-full flex flex-col px-10 md:px-24 md:flex-row justify-between items-center "
    style=" background-color: #000000"
>
    <div class="flex flex-col py-10 gap-7">
        <a href="../../public/docs/CONSTANCIA COBERTURA-ONFIBER.pdf" target="_blank">Constancia de coberturra</a>
        <a href="../../public/docs/autorizacion.pdf" target="_blank">Autorizaci贸n</a>
        <a href="../../public/docs/privacidad.pdf" target="_blank">Aviso de privacidad</a>
        <a href="../../public/docs/codigo.pdf" target="_blank">C贸digo de practica comercial</a>
        <a href="../../public/docs/inscripci贸n de registro publico.pdf" target="_blank">Inscripci贸n en el registro publico de concesiones</a>
        <a href="/guia-inicio">Guia de Inicio</a>
    </div>
    <div>
        <div
            class="flex flex-row items-center gap-7 justify-center md:justify-end py-4">
            <span class="text-2xl">ONFIBER SA DE CV</span>
            <img src="/Logo.svg" alt="ONFIBER Logo" class="h-16 md:h-20 lg:h-32 md:flex ">
        </div>
    </div>
</footer>