---
---
<form class="p-2 flex flex-col  items-center gap-1 md:gap-3 ">
    <div class="flex flex-row items-center w-full justify-center gap-2">
        <p class="text-base text-start color-principal">ELIJE EL PLAN QUE NECESITAS:</p>
        <select class="bg-white bg-opacity-5 backdrop-blur-sm border-2 rounded-lg text-white py-1 px-4 w-2/3 max-w-xs focus:outline-none focus:border-white">
            <option class="bg-black text-white" value="basico">30 Megas</option>
            <option class="bg-black text-white" value="intermedio">70 Megas</option>
            <option class="bg-black text-white"value="pro">100 Megas</option>
            <option class="bg-black text-white"value="master-pro">200 Megas</option>
        </select>
    </div>
    <div class="p-2 flex flex-col lg:flex-row items-center gap-1">
        <label class="text-center text-white text-base mt-2 lg:mt-0 lg:ml-2">
            INTRODUCE TU NÚMERO DE WHATSAPP Y UN AGENTE SE PONDRÁ EN CONTACTO EN MENOS DE UN MINUTO
        </label>
        <div class="flex flex-row gap-1 mt-2 lg:mt-0">
            <input type="text" placeholder="Núm de WhatsApp" class="bg-white bg-opacity-5 backdrop-blur-sm border-2 rounded-lg text-white py-1 px-4 w-2/3 max-w-xs focus:outline-none focus:border-white">
            <button type="submit" class="bg-gray-300 text-black rounded-lg py-1 px-4 hover:bg-gray-400">ENVIAR</button>
        </div>
    </div>
    
</form>

<style>
    .color-principal{
        color: #D3A7E4;
    }
</style>