---
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string;
	heroImage?: string;
}
const { title, heroImage } = Astro.props;
import '@fontsource/titillium-web';
import '@fontsource/chakra-petch';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body class="bg-gray-900 text-white">
		<section class="relative h-svh bg-cover bg-center" style={`background-image: url(${heroImage});`}>
			<div class="absolute inset-0 bg-black bg-opacity-30"></div>
			<Navbar />

			<div class="relative z-10 flex flex-col items-center justify-start h-full pt-24 lg:pt-24">
				<slot />
			</div>

		</section>
	</body>
	<Footer />
</html>

<style>
	html{
		font-family: 'Titillium Web', 'Chakra Petch', sans-serif;
	}
</style>
